/* font-family: 'Londrina Outline', cursive;
font-family: 'Orbitron', sans-serif; */

.fecha{
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    color: #ffffff;

}

.hora{
    font-family: 'Londrina Outline', cursive;
    font-size: 3em;
    color: #ffffff;
    letter-spacing: 0.15em;
}
body{
    background: #000;
}

/* .pink{
    text-shadow:
    0 0 5px blueviolet;

}

.green{
    text-shadow:
    0 0 155px greenyellow;
} */

.pink {
    text-shadow: 
        0 0 5px #FF7BAC,
        0 0 10px #FF7BAC,
        0 0 20px #FF7BAC,
        0 0 40px #FF7BAC,
        0 0 80px #FF7BAC,
        0 0 90px #FF7BAC,
        0 0 100px #FF7BAC,
        0 0 150px #FF7BAC;
}
.blue {
    text-shadow: 
        0 0 5px #7BACFF,
        0 0 10px #7BACFF,
        0 0 20px #7BACFF,
        0 0 40px #7BACFF,
        0 0 80px #7BACFF,
        0 0 90px #7BACFF,
        0 0 100px #7BACFF,
        0 0 150px #7BACFF;
}
.green {
    text-shadow: 
        0 0 5px #7BFFCE,
        0 0 10px #7BFFCE,
        0 0 20px #7BFFCE,
        0 0 40px #7BFFCE,
        0 0 80px #7BFFCE,
        0 0 90px #7BFFCE,
        0 0 100px #7BFFCE,
        0 0 150px #7BFFCE;
}